html {
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  padding: .5rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: #f1ffff;
  line-height: 1.5;
  padding: 1em;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #0e0e0b;
  margin: 1rem 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #2799a8;
  margin: 1rem 0;
}

a {
  color: #2799a8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #fbbf5d;
  display: flex;
  align-items: center;
  padding: 0 0rem;
}

nav h1 {
  font-family: 'Kaushan Script', cursive;
  color: #0e0e0b;
  margin: 0rem 0;
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: underline;
  padding: 0.25rem 0.5rem;
  font-size: 1.5em;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
  font-size: 1.2em;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;

}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 0.3em;
  background: rgba(42, 162, 168, 0.43);
  border: 2px solid #ff871d;
  font-family: 'Josefin Sans', sans-serif;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: block;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 0em;
  max-width: 12em;
}

.content textarea {
  min-height: 1em;
  max-width: 24em;
  resize: both;
}

.content select {
  max-width: min-content;
}

.content span {
  font-size: 0.70em;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.chartdiv {
  width: 900px;
  height: 400px;

}

.chartdiv canvas {
  max-width: 100%;
  max-height: 100%;
  font-size: 1em;
}

table {
    padding: 3px;
    width: 100%;
}

td {
  text-align: center;
  border-spacing: 20px;
}

.comment {
  font-style: italic;
  text-align: left;
}

.active {
  color: #13a864;
  font-weight: bold;
}

.inactive {
  color: #ff6c23;
  font-weight: bold;
}