html {
  font-family: 'Josefin Sans', sans-serif;
  background: lightgray;
  padding: .5rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: #f1ffff;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #0e0e0b;
  margin: 1rem 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #2799a8;
  margin: 1rem 0;
}

a {
  color: #2799a8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #fbbf5d;
  display: flex;
  align-items: center;
  padding: 0 0rem;
}

nav h1 {
  font-family: 'Kaushan Script', cursive;
  color: #0e0e0b;
  margin: 0rem 0;
  flex: auto;
  margin: 0;
  font-size:xx-large;

}

nav h1 a {
  text-decoration: underline;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: rgba(42, 162, 168, 0.43);
  border: 2px solid #ff871d;
  font-family: 'Josefin Sans', sans-serif;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: block;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  max-width: 200px;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

.content select {
  max-width: fit-content;
}

.content span {
  font-size: 0.70em;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.chartdiv {
  width: 900px;
  height: 400px;
}

.chartdiv canvas {
  max-width: 100%;
  max-height: 100%;
}