{% extends 'base.html' %}
{% block content %}

<h3>Profile Name:</h3> <ul> <b>{{ user.username }} </b></ul>

  {% if job %}

  <h3>Job Settings:</h3>


    <ul>

     <li> <b>{{ job.frequency.title() }} </b> @ <b> {{ local_job_time }} </b> -  {% if job.active %} <b><font color="#13a864"> Active</b> </font> {% else %} <b> <font color="#ff6c23" > Inactive</b> </font> {% endif %}
         <a href="{{  url_for('main.update', id=job['id']) }}">[update]</a></li>
    </ul>

{% else %}

 <h4>Job Settings:</h4> <li> Create your first prompt - <a href="{{  url_for('main.setup') }}">Setup</a> </li>

  {% endif %}

  {% if events %}

<div class="chartdiv">
<canvas id="myChart" width="900" height="400"></canvas>
<script>

let ctx = document.getElementById('myChart').getContext('2d');
steps = 10;
max = {{ max }};
/*** Gradient ***/
let gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, 'rgba(250,174,50,1)');
    gradient.addColorStop(1, 'rgba(250,174,50,0)');

let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        labels: [{% for item in labels %}
                "{{ item }}",
                {% endfor %}],
        datasets: [{
            label: "{{ title }}",
            backgroundColor: gradient,
            borderColor: '#ff6c23',
            data: [{% for item in values %}
                    {{ item }},
                {% endfor %}],
        }]
    },
    // Configuration options go here
      options: {
        responsive: true,
        datasetStrokeWidth: 3,
        pointDotStrokeWidth: 4,
        tooltipFillColor: 'rgba(255,0,0,0.8)',
        tooltipFontStyle: 'bold',
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function(tooltipItems, comments) {
                    {% for item in comments %}
                                   {% if item is not none %}
                    return tooltipItems.yLabel +
                     '{{comments}}'.split(',')[tooltipItems.index].replace('&#39;','').replace('None',' ');
                    {% endif %}
                {% endfor %};
            }
          }
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    });

</script>
</div>
    <h3>Log:</h3><a href="{{  url_for('main.setup') }}">Edit</a>
    <ul>  {% for event in events %}

       <li>{{ event.date_added.strftime("%m-%d-%y") }} : {{ event.msg_body }}
            {% if event.comment %}
            <i> - {{ event.comment }}</i> </li>
  {% endif %}
    {% endfor %}

  {% endif %}</ul>

<!--utc_now {{ current_time_utc }}-->

{% endblock %}