{% extends 'base.html' %}
{% block content %}

  <h3>Profile: {{ user.username }}</h3>


  {% if job %}

  <h4>Job Settings:</h4>


    <ul>

     <li> <b>{{ job.frequency.title() }} </b> @ <b> {{ local_job_time }} </b> -  {% if job.active %} <b><font color="green"> Active</b> </font> {% else %} <b> <font color="red" > Inactive</b> </font> {% endif %}
         <a href="{{  url_for('main.update', id=job['id']) }}">[update]</a></li>
    </ul>

{% else %}

 <h4>Job Settings:</h4> <li> <a href="{{  url_for('main.setup') }}">Setup</a></li>

  {% endif %}

  {% if events %}

<canvas id="myChart" width="900" height="400"></canvas>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
steps = 10;
max = {{ max }};


Chart.defaults.global.animationSteps = 50;
Chart.defaults.global.tooltipYPadding = 16;
Chart.defaults.global.tooltipCornerRadius = 0;
Chart.defaults.global.tooltipTitleFontStyle = "normal";
Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
Chart.defaults.global.animationEasing = "easeOutBounce";
Chart.defaults.global.responsive = false;
Chart.defaults.global.scaleLineColor = "black";
Chart.defaults.global.scaleFontSize = 16;

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{% for item in labels %}
                "{{ item }}",
                {% endfor %}],
        datasets: [{
            label: "{{ title }}",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data: [{% for item in values %}
                    {{ item }},
                {% endfor %}],
        }]
    },
    // Configuration options go here
    options: {
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, comments) {

                    return tooltipItems.yLabel + {% for item in comments %}
                    {% if item is not none %}
                    `{{comments}}`.split(',')[tooltipItems.index];
                    {% endif %}
                {% endfor %};
            }
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>

    <h3>Log:</h3><a href="{{  url_for('main.setup') }}">Edit</a>
     {% for event in events %}

        <li>{{ event.date_added.strftime("%m-%d-%y") }} : {{ event.msg_body }}
            {% if event.comment %}
            <font color="#00008b"><i> - {{ event.comment }}</font></i> </li> </h4>
  {% endif %}
    {% endfor %}

  {% endif %}

<!--utc_now {{ current_time_utc }}-->

{% endblock %}