{% extends 'base.html' %}
{% block content %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

  <h2>User Profile: {{ user.username }}</h2>


  {% if job %}

  <h3>Active Job:</h3>


    <ul>
      <li> Runs <b>{{ job.frequency }} </b> at <b> {{ job.time }} </b>  <a href="app/jobs">Update</a> </li>

{#      <li> Runs <b>{{ job.frequency }} </b> at <b> {{ job.time }} </b>  <a href="{{  url_for('app.jobs') }}">Update</a> </li>#}
    </ul>


  {% endif %}

  {% if events %}

<canvas id="chart" width="900" height="400"></canvas>
    <script>
      // bar chart data
      let barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      };
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      // get bar chart canvas
      let mychart = document.getElementById("chart").getContext("2d");
      steps = 10;
      max = {{ max }};
      // draw bar chart
      let LineChart = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
    </script>


    <h3>Log:</h3>

    {% for event in events %}

    <ul>
      <li>Date:<b>{{ event.date_added }} </b> Value: <b> {{ event.msg_body }} </b> </li>
    </ul>
    {% endfor %}

  {% endif %}

{% endblock %}